sudo: required
dist: trusty
language: node_js
node_js:
- 8.6.0
addons:
  apt:
    sources:
    - google-chrome
    - ubuntu-toolchain-r-test
    packages:
    - google-chrome-stable
    - g++-4.8
  firefox: latest
cache:
  directories:
  - node_modules
env:
  matrix:
  - EMBER_TRY_SCENARIO=ember-lts-2.8
  - EMBER_TRY_SCENARIO=ember-default
  global:
  - CXX=g++-4.8
  - secure: RMqfRJu6GopL49DqarppPXSEhOOoDsaOv7Tc7gdaKf6dTrE+iF0Xle50y17g4HuawTD7Ly4Ai2vDMJO4/pJMxY0QvqX3dEteyxsaLeLyRXsCFFA63eLU7W4zPd2kk6Nh+rUUm1YdCry06VSXwimEDjOXrQTtDwhadMduvTWc8hiGCGBonSPRDabJRxn/M4Ra8sK2Q56TXEalwSvaF+aG4mY4DLg8fykjda/7TQDVc4PMxr0C0SD313Y2RwoJbLA4te2zTNUxnInUdSg6EVEwkBXtV9OzFam1CYuRnQexGFN1EioatKa/qHwgmOTCu2UKECqPf0FHXFXR2X+6RsuzvTWopB+Or/8YkoJZGdxoxZVJBxTqvrjPbyLz8TTgmtD8Yc/OWlc7H7EEGiqW+l6voD2cO1eqf6RkJaIjOxyVtkuOfrP95oq4ta7ceIPIHJW4S+/oQulT3aZC7xpDehjmCOKpqlkVcU404hIgUcY6tLQZSpSpAA75OoK9cMxmAs3a3hMkYxgg03RBfI+VQzBcFTwqF60kD94ZKnjnPSTAZmaZC06MOA+RTOvQhlOLOLCiVreFh/cZLnROnKZv6WO2jBEnxky/WYGhkWlTbi7UAj1i2JtF+3rQvOJxM7ebhjGs1iYr2JvJgNx0Qp+ykTrMuExj33dnSUz79ZSwtMfDCgQ=
matrix:
  fast_finish: true
  allow_failures:
  - node_js: stable
before_install:
- npm config set spin false
- npm install -g coveralls pr-bumper@^3.7.0 ciena-devops@^1.0.0
- "$(npm root -g)/pr-bumper/.travis/maybe-check-scope.sh"
install:
- "$(npm root -g)/pr-bumper/.travis/maybe-install.sh"
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
script:
- "$(npm root -g)/pr-bumper/.travis/maybe-test.sh"
- ".travis/maybe-bump-version.sh"
after_success:
- ".travis/maybe-publish-coverage.sh"
- ".travis/maybe-publish-gh-pages.sh"
after_deploy:
- "$(npm root -g)/ciena-devops/scripts/slack/incoming-webhooks/send-message.sh"
deploy:
  provider: npm
  email: npm.ciena@gmail.com
  skip_cleanup: true
  api_key:
    secure: nWkz2YxT2VzngBHtpbSAmpykWKrPfC1r2BBZRL12Xy8IcwjTR4+yPm2vt9O+g4DWCr6TKyuZFPEc1rd1aaFF7hFzK4/bYhA9B0XsZS4FyWzx1DinjrltmZ2x+htAcn5trp9pPjuhMQBbn4C9TOXJCN5D2jdCG/ZbvIJIeLLVyhT5NeSGakQBEVIxcDHC7lv+5v5vyTSZBH76mom0yIRtp9nt1h/9HMbmUuaXp2Wkmxvn9DMbSk4SjJKlCgB2LsZymaH6V9AN1VTdiTHkriKPi6ZHZUM1++qqJYuovjBCENucoMfdq+gjY0GEdmlPUtKo35uZL9sJoI1I97A5EYpNw4zq8lKwuQeNDfWtVC2ONYpNYF2Kbc7smLMU+xLNdASRgGmR7A60s0AZq7eU/xdVAxHECHN3msKqXCWzXvpmJ7YO9JfHUBCMFQM75QRrCfw+qgbmdX4O6WJZca3WeXdlLYGaooLtiobDWDAMEpOkyq2BvZCfeyqqoYuvdA7GQHx70NMbPlrYYsMWidy6PFcYCAf6OHnwb36KDqT6H70ros56MEiagApcsLXUxW94Gsu88S6GTMPkkJAzfnm5ezPxj2c2z3cI/dLyeeaurfcgP5oK7fXqI4YPa2N5cFbPbMJNhcwGzxnSw+BKdRAn5lX5VQCkFlxY/VMmKSCuh1URZBo=
  on:
    all_branches: true
    condition: "$EMBER_TRY_SCENARIO = 'ember-default'"
    node: 8.6.0
    tags: true
notifications:
  slack:
    secure: DejQDDdHh0R567aH2xGJlj1DFsBBd5SxS7/x4TxpMNxVK6fNfuLtEZdagB63qBJZTN4+M0RcnEW6tvgciYu4S2kw0sFT3bB6KTQkM98m77oTd9FLqmt56E5PVuCSPglWIjmqBnglNJQRTDqeVrXwkKAszfIlRqOM+bfGJfAM1jEDugIpuq+wuObTGMEgz7ieHgJKINkCnV8LR/hIMySQVI60dBtBPFXA2cF5FK8SE0RWVubKlBtXzBHEMqkctnwTNKBN+ctIBGEBb++KNZ4tZcebfxQwMs1UNGrzk/QCkZ/7LPbuIf8dNlHfuYczFHbOQKYah1yi74USoDbQ4LoTneQAqg3WncC8RQs8eefql1q0duO4j3+J9+gp5kEMmna2KD07c6q+OM0FH91eyFu6eiHwJ7M165w3OoSQhmUm5/NdTSuyAPCLvca0D4lLjfmZy/3KLMwes+MQop+TU+aiiJd/U3SEfKcyMOUj+dfw1wwak6dF21jem/ELRHltCpsWImfDG7V3Z95URinTMr5pnGanrz7ocxFA+C4DIJkPRmBnabLrTCKM4GiuxlqmKCMQbfL6tncCzjtYz7UD3rY9ie8HUV6oTOQMpZBQj7ESKvcnbvY6N4eXQkcoPTRSvEYgKJwCYVn/AB3FeQKcmMJQVZWFTA+fii+mym1rrUOobUo=
